.grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.gridContainer {
  container-type: inline-size;
  container-name: gridContainer;
  width: 100%;
}

@container gridContainer (min-width: 500px) {
  .grid {
    grid-template-columns: auto auto;
  }
}

@container gridContainer (min-width: 900px) {
  .grid {
    grid-template-columns: auto auto auto auto;
  }
}
