.logo,
.logo::after,
.logo::before {
  display: block;
  z-index: 2;
  position: relative;
  font-weight: 900;
  letter-spacing: 4px;
}
.logo::after,
.logo::before {
  position: absolute;
  top: 0;
}
.logo {
  margin-top: 0px;
  color: #ffffff;
  z-index: 2;
}
.logo::after {
  content: attr(data-text);
  margin-top: -6px;
  z-index: 1;
  color: #ff00ff80;
}
.logo::before {
  content: attr(data-text);
  margin-top: 6px;
  z-index: 0;
  color: #00ffff80;
}
