@import 'https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --bulma-title-family: Roboto, Arial, Helvetica, sans-serif;
  --bulma-subtitle-family: Roboto, Arial, Helvetica, sans-serif;
  --bulma-body-family: Roboto, Arial, Helvetica, sans-serif;
}
